@font-face {
  font-family: "dirtyDeoHandInk";
  src: url("../fonts/dirtydeohandink/dirtyDeoHandInk.ttf") format("truetype");
}
a {
  text-decoration: none;
  color: black;
}

::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: "dirtyDeoHandInk";
  padding: 0px;
  margin: 0px;
}

#home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home #cursor {
  position: absolute;
  transition: 0.1s;
}
#home #cursor .cursor-background {
  position: absolute;
  right: 55px;
  top: 40px;
  pointer-events: none;
  z-index: -1;
  width: 320px;
  height: 320px;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: circle(50% at 50% 50%);
}
#home .hiring-animation {
  font-weight: bold;
  position: absolute;
  animation: ball 9s infinite linear;
  animation-play-state: inherit;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  width: 150px;
  height: 150px;
  clip-path: circle(50% at 50% 50%);
  z-index: 112;
}
#home .peace {
  z-index: -1;
  animation: rotation 9s infinite linear;
  position: absolute;
  left: -460px;
  top: -30px;
}

@keyframes hire {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  74% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes ball {
  0% {
    left: 0%;
    top: 90%;
    font-size: 0px;
    opacity: 1;
  }
  10% {
    left: 25%;
    top: 15%;
    font-size: 0px;
    opacity: 1;
  }
  20% {
    left: 45%;
    top: 45%;
    font-size: 0px;
    opacity: 1;
  }
  30% {
    left: 65%;
    top: 75%;
    font-size: 0px;
    opacity: 1;
  }
  39% {
    font-size: 0px;
    opacity: 1;
  }
  40% {
    left: 87%;
    top: 5%;
    font-size: 35px;
    opacity: 0;
  }
  87% {
    left: 87%;
    top: 5%;
    font-size: 35px;
    opacity: 0;
  }
  100% {
    left: 87%;
    top: 5%;
    font-size: 35px;
    opacity: 0;
  }
}
@keyframes rotation {
  0% {
    transform: none;
  }
  40% {
    transform: none;
  }
  74% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nav-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: white;
}

.selected-nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #d41c64;
}

nav {
  padding: 10px 0 5px 0;
  z-index: 111;
  font-size: 24px;
  font-weight: bold;
  position: fixed;
}
nav a {
  color: black;
  z-index: 111;
  text-decoration: none;
}
nav .menu {
  display: flex;
  justify-content: center;
}
nav .menu-item {
  margin-right: 35px;
  padding: 0 25px;
  position: relative;
}
nav .menu-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #d41c64;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-out;
}
nav .menu-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
nav .home {
  position: absolute;
  left: 20px;
}
nav .hire {
  z-index: 113;
  width: 80px;
  position: absolute;
  right: 3px;
  animation: hire 9s infinite;
}

#project-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects {
  width: 900px;
  height: 480px;
  overflow: hidden;
}

.single-project {
  width: 900px;
  height: 480px;
}
.single-project:hover {
  filter: brightness(0.7);
}

.project-icons {
  display: flex;
  cursor: pointer;
}
.project-icons img {
  margin: 20px 50px 0 0;
}

.projects-detail-view {
  height: 480px;
  display: none;
}
.projects-detail-view .single-project-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.projects-detail-view .single-project-detail:nth-child(1) {
  margin-right: 50px;
}
.projects-detail-view .single-project-detail:nth-child(2) {
  margin-right: 50px;
}
.projects-detail-view .single-project-detail:hover {
  filter: brightness(0.7);
}
.projects-detail-view .project-first {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: start;
}
.projects-detail-view .project-second {
  display: none;
  justify-content: space-around;
  position: relative;
  align-items: start;
}
.projects-detail-view .next {
  position: absolute;
  right: -20px;
  top: 35%;
  cursor: pointer;
}
.projects-detail-view .previous {
  position: absolute;
  left: -70px;
  top: 35%;
  cursor: pointer;
}

@keyframes projects {
  0% {
    left: 0px;
  }
  12% {
    left: 0px;
  }
  20% {
    left: -900px;
  }
  28% {
    left: -900px;
  }
  36% {
    left: -1800px;
  }
  44% {
    left: -1800px;
  }
  52% {
    left: -2700px;
  }
  60% {
    left: -2700px;
  }
  68% {
    left: -1800px;
  }
  76% {
    left: -1800px;
  }
  84% {
    left: -900px;
  }
  92% {
    left: -900px;
  }
  100% {
    left: 0px;
  }
}
.projects-slider {
  width: 2400px;
  position: relative;
  height: 480px;
  animation: projects 15s infinite normal;
  animation-play-state: inherit;
  display: flex;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 40px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 70vh;
  flex-wrap: wrap;
  margin-top: -30px;
}

.about-text {
  width: 45%;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  margin-right: 30px;
  z-index: -1;
}

.love-img-wrapper {
  display: flex;
  align-items: center;
}

.next-about {
  margin-left: 20px;
  cursor: pointer;
}

.previous-about {
  margin-right: 30px;
  cursor: pointer;
}

.about-who-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 70vh;
  margin-bottom: -40px;
}
.about-who-container .about-pictures-container {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.about-who-container .about-pictures-container .about-pictures {
  border-right: 2px solid black;
  padding: 0 30px 30px 0;
  display: flex;
  justify-content: center;
}
.about-who-container .about-pictures-container .disslike {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: 30px;
}
.about-who-container .about-pictures-container .disslike .x {
  position: absolute;
  left: 0px;
  top: 0px;
}

.heart {
  position: absolute;
  left: 35%;
  top: 35%;
  animation: beat 0.8s infinite alternate;
  z-index: -2;
}

@keyframes beat {
  to {
    transform: scale(1.2);
  }
}
.love-img {
  width: 520px;
  height: 310px;
}

#experience {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.experience-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  width: 100vw;
}
.experience-wrapper h1 {
  margin: 0px;
}

.experience-container {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
}
.experience-container .experience-item {
  margin-bottom: 40px;
}
.experience-container .experience-item h2 {
  margin: 0px;
}
.experience-container .experience-item .experience-text {
  font-size: 20px;
}
.experience-container img:hover {
  filter: brightness(0.7);
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
}
.skills-container h1 {
  margin: 0px;
}
.skills-container .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100%;
}
.skills-container .skills .skill-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 14px;
}
.skills-container .skills .skill-card img {
  margin-bottom: 5px;
}

.para {
  z-index: -1;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 9%, 100% 9%, 100% 64%, 0 100%);
}
.para.two {
  width: 100%;
  height: 300px;
  clip-path: polygon(0 9%, 100% 9%, 100% 64%, 0 100%);
}
.para.three {
  width: 100%;
  height: 300px;
  clip-path: polygon(0 9%, 100% 9%, 100% 100%, 0 58%);
}

#hire {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border: 1px solid #d41c64;
  padding: 10px 30px 30px 30px;
}
.form .status {
  color: #d41c64;
  margin-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
}
form input {
  height: 30px;
}
form button {
  cursor: pointer;
  font-family: "dirtyDeoHandInk";
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  margin: 5px;
  background: #DCDCDC;
  border-radius: 20px;
}
form input, form textarea {
  font-size: 20px;
  margin: 5px;
}

.socials img {
  margin: 0 30px;
}
.socials img:hover {
  background-color: #d41c64;
}

@media only screen and (max-width: 1100px) {
  #cursor {
    position: relative !important;
  }
  #cursor .cursor-background {
    left: 65px !important;
    top: 60px !important;
  }

  .peace {
    position: static !important;
    animation: none !important;
  }
}
@media only screen and (max-width: 800px) {
  #home, #project-section, #experience, #about, #hire {
    overflow: auto;
  }

  .nav-container {
    position: absolute;
  }
  .nav-container .menu {
    flex-direction: column;
  }
  .nav-container .menu .home {
    position: static;
  }
  .nav-container .menu .hire {
    position: static;
  }

  #cursor {
    position: relative !important;
    width: 300px;
    height: 300px;
  }
  #cursor .cursor-background {
    left: 45px !important;
    top: 55px !important;
    width: 204px !important;
    height: 204px !important;
  }

  .peace {
    position: static !important;
    width: 300px;
    height: 300px;
  }

  .para {
    background: #d41c64;
    height: 2px !important;
  }

  .hiring-animation {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
