@font-face {
  font-family: "dirtyDeoHandInk";
  src: url("../fonts/dirtydeohandink/dirtyDeoHandInk.ttf") format("truetype");
}
a {
  text-decoration: none;
  color: black;
}

::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: "dirtyDeoHandInk";
}

#home {
  height: 100vh;
}
#home #cursor {
  position: absolute;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 4;
}
#home .hire {
  width: 80px;
  position: absolute;
  right: 3%;
  top: 4%;
}
#home .hire button {
  cursor: pointer;
}
#home .angel {
  position: absolute;
  left: 3%;
  bottom: 4%;
}
#home .arrow {
  position: absolute;
  animation: arrow 7s infinite linear;
  animation-play-state: inherit;
  z-index: 30;
}
#home .peace {
  position: absolute;
  top: -10px;
  left: -450px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes arrow {
  0% {
    left: 3%;
    top: 90%;
  }
  37% {
    left: 45%;
    top: 45%;
  }
  74% {
    left: 92%;
    top: 1%;
  }
  87% {
    left: 92%;
    top: 1%;
  }
  100% {
    left: 92%;
    top: 1%;
  }
}
.nav-container {
  display: flex;
  justify-content: center;
}

.selected-nav {
  border-bottom: 2px solid #d41c64;
}

nav {
  z-index: 111;
  font-size: 24px;
}
nav a {
  color: black;
  text-decoration: none;
}
nav .menu {
  position: fixed;
  display: flex;
  justify-content: center;
}
nav .menu-item {
  margin-right: 35px;
  padding: 0 25px;
  position: relative;
}
nav .menu-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  background: #d41c64;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-out;
}
nav .menu-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

#project-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects {
  width: 900px;
  height: 480px;
  overflow: hidden;
}

.single-project {
  width: 900px;
  height: 480px;
}

.project-icons {
  display: flex;
  cursor: pointer;
}
.project-icons img {
  margin: 20px 50px 0 0;
}

.projects-detail-view {
  height: 480px;
  display: none;
}
.projects-detail-view .single-project-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.projects-detail-view .single-project-detail:nth-child(1) {
  margin-right: 50px;
}
.projects-detail-view .single-project-detail:nth-child(2) {
  margin-right: 50px;
}
.projects-detail-view .project-first {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: start;
}
.projects-detail-view .project-second {
  display: none;
  justify-content: space-around;
  position: relative;
  align-items: start;
}
.projects-detail-view .next {
  position: absolute;
  right: -20px;
  top: 35%;
  cursor: pointer;
}
.projects-detail-view .previous {
  position: absolute;
  left: -70px;
  top: 35%;
  cursor: pointer;
}

@keyframes projects {
  0% {
    left: 0px;
  }
  12% {
    left: 0px;
  }
  20% {
    left: -900px;
  }
  28% {
    left: -900px;
  }
  36% {
    left: -1800px;
  }
  44% {
    left: -1800px;
  }
  52% {
    left: -2700px;
  }
  60% {
    left: -2700px;
  }
  68% {
    left: -1800px;
  }
  76% {
    left: -1800px;
  }
  84% {
    left: -900px;
  }
  92% {
    left: -900px;
  }
  100% {
    left: 0px;
  }
}
.projects-slider {
  width: 2400px;
  position: relative;
  height: 480px;
  animation: projects 25s infinite normal;
  animation-play-state: inherit;
  display: flex;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 40px;
}

.about-container {
  display: flex;
  width: 90%;
}

.about-text {
  width: 50%;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  margin-right: 30px;
}
.about-text p {
  z-index: 1;
}

.heart {
  position: absolute;
  left: 35%;
  top: 35%;
  animation: beat 0.8s infinite alternate;
  z-index: -1;
}

@keyframes beat {
  to {
    transform: scale(1.2);
  }
}
.love-img {
  width: 560px;
  height: 360px;
}

#experience {
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
